@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}

.line:before,
.line:after {
  flex: 1;
  content: '';
  height: 1px;
  background: white;
  width: 10px;

}

#menu{
  --menu-color: #f64e47;
}

#custom-cursor{
  --mouse-color: #f64e47;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heart {
  animation: heartbeat 1s infinite linear;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
    opacity: 0.2;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(0.75);
    opacity: 0.2;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0.75);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.75);
    opacity: 0.2;
  }
}
 
